narrow-font()
  font-family "PT Sans Narrow", "Helvetica Neue", sans-serif

normal-font()
  font-family 'proxima-nova', 'Helvetica Neue', Calibri, 'Droid Sans', Helvetica, Arial, sans-serif

$body_wrapper = 30px
$nav_size = 150px
$header_size = 52px

html, body
  color   #333332
  padding 0
  margin  0
  font-size 100%
  normal-font()
  background $background-color blue
  line-height normal

ul, ol
  list-style none

ul, ol, p
  margin 0
  padding 0

#content
  position absolute
  top 0
  left $nav_size
  right 0
  bottom 0
  box-shadow 0 0 10px #000

.no-sidebar
  #content
    left 0
  #navigation
    display none

#main-section
  position absolute
  top $header_size
  left 0
  right 0
  bottom 0

.window
  position absolute
  top 0
  left 0
  right 0
  bottom 0

a, .fake_link
  color #F27405
  text-decoration none
  cursor pointer
  &:hover
    color #BD4F00

.nav
  clearfix()
  list-style none
  padding 0
  margin 0
  li
    float left
    border-radius 4px 4px 0 0
    margin-left 2px
    margin-right @margin-left
    &:hover
      background-color #d9d7d7
    &.active
      border 1px solid #d9d7d7
      border-bottom none
      background white
      a, .fake_link, &.fake_link
        color #333
        text-decoration none
        cursor default
  a, .fake_link
    padding 5px 15px

.popup-absolute
  position absolute
  top 20px
  left 10px
  right @left
  text-align center
  z-index 100

.popover
  normal-font()
  .popover-title
    font-size 16px
  .popover-content
    font-size 14px

.loading-container
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0, 0, 0, .7)
  color white
  font-size 4em
  text-align center
  z-index 99
  display table
  width 100%
  height 100%

.loading-message
  display table-cell
  vertical-align middle

.team-pbv
  font-size 0.75em

.team-tier
  font-size 0.75em

// Typography

.monospace
  font-family "Monaco", monospace

abbr
  border-bottom 1px dotted #333

.italic
  font-style italic
