mixin printStat(statName, keyName)
  tr
    td.stat-label
      strong #{statName}:
    td.ev-range-cell
      input(type="range", min="0", max="252", step="4", data-stat=keyName).ev-entry
    td.ev-cell
      input(type="text", data-stat=keyName).ev-entry
    td.iv-cell
      input(type="text", data-stat=keyName).iv-entry
    td.base-stat(data-stat=keyName)
    td.stat-total(data-stat=keyName)

.meta-info.clearfix
  .left-side
    .species
      label.filter-tier
        input.filter-tier-box(type='checkbox')
        | Filter to Current Tier
      select.sortSpecies
        option="Sort"
        option="Sort by Dexnumber"
        option="Invert by Dexnumber"
        option="Sort Alphabetically"
        option="Invert Alphabetically"
        option="Sort by Tier"
        option="Invert by Tier"
      select.species_list
        option
        each species in speciesList
          option(value=species)= species
      .species-info
    .non-stats
      .teambuilder_row.format_row
        .teambuilder_col.non-stat.label.formatname
        .teambuilder_col
          span.individual-format
          .right
            span.total-format
            /
            span.max-format
      .teambuilder_row
        .teambuilder_col.non-stat-label Nickname:
        .teambuilder_col
          input.selected_nickname(type="text")
      .teambuilder_row
        .teambuilder_col.non-stat-label Ability:
        .teambuilder_col
          select.selected_ability
      .teambuilder_row
        .teambuilder_col.non-stat-label Nature:
        .teambuilder_col
          select.selected_nature
      .teambuilder_row
        .teambuilder_col.non-stat-label Item:
        .teambuilder_col
          select.selected_item
            option(value="")
            each itemName in itemList
              option(value=itemName)= itemName
      .teambuilder_row
        .teambuilder_col.non-stat-label Gender:
        .teambuilder_col
          select.selected_gender
      .teambuilder_row
        .teambuilder_col.non-stat-label Level:
        .teambuilder_col
          input.selected_level(type="text")

  .right-side
    table.stats
      thead
        th
        th.ev-range-cell
        th.ev-cell EV
        th.iv-cell IV
        th Base
        th Stat
      tbody
        +printStat("HP", "hp")
        +printStat("Attack", "attack")
        +printStat("Defense", "defense")
        +printStat("Sp. Attack", "specialAttack")
        +printStat("Sp. Defense", "specialDefense")
        +printStat("Speed", "speed")
        tr
          td
          td(colspan="5")
            .remaining-evs
              | Remaining EVs: 
              span.remaining-evs-amount
            .hidden-power
              | Hidden Power: 
              select.select-hidden-power
                each value, type in window.HiddenPower.BW.ivs
                  - var displayType = type[0].toUpperCase() + type.substr(1)
                  option(value=type)= displayType

  .moves-section.clearfix
